---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<a href="/">Inicio</a>
			<a href="/blog/">Blog</a>
			<h1>Mi primer sitio astro</h1>
			<body>
				<h3>Mi sitio Astro</h3>
				<h4>Sobre mi</h4>
				<h5>¡Soy julian y este es mi nuevo sitio Astro!</h5>
			  
				<p>Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda página de mi sitio web, ¡y es la primera que he construido yo mismo!</p>
			  
				<p>Este sitio se irá actualizando a medida que vaya completando más partes del tutorial, ¡así que no dejes de visitarlo para ver cómo va mi viaje!</p>
			  </body>
	</body>
</html>
